[Unit]
Description=UDP Custom by XDVPN

[Service]
User=root
Type=simple
ExecStart=/etc/udpssh/udp-custom server
WorkingDirectory=/etc/udpssh
Restart=always
RestartSec=2s

[Install]
WantedBy=default.target
